body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;   
    background-color: #609966;
    overflow: hidden;
    @media screen and (min-width:320px) and (max-width:768px) {
        overflow:scroll;
    }
    
}
